/* common css */
* {
  font-family: "Noto Serif", serif;
  margin: 0;
  padding: 0;
}
main {
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
}
.banner-title-2 {
  color: #e95a08;
}
/* custom css */
/* nav section start */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar img {
  margin-top: 6px;
}
.nav-bar ul :nth-child(1),
.nav-bar ul :nth-child(4) {
  font-weight: 700;
}
.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 15px;
}
/* banner section */
.banner-section {
  display: flex;
  align-items: flex-end;
  margin: 100px auto;
}
.banner-title {
  color: #000000;
  font-size: 50px;
  font-weight: 700;
}

.banner-left-subtitle {
  color: rgba(0, 0, 0, 0.5);
}

.banner-right img {
  display: block;
}
/* plants section */
.plants-section {
  margin: 0 auto;
}
.plants-section-title {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.plants-section-sub-title {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 65%;
  margin: 0 auto;
}
.card {
  max-width: 220px;
}
.card img {
  max-width: 220px;
}
.card-bottom {
  text-align: center;
  margin: 20px auto;
}
.card h5 {
  font-size: 20px;
  font-weight: 500;
}
.card p {
  font-size: 22px;
  font-weight: 700;
}
.card button {
  width: 100%;
  font-weight: 600;
  color: #ffffff;
  background-color: #e95a08;
  border: none;
  padding: 15px 30px 15px 30px;
}
.card-container {
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
/* plants lover section */
.plant-lover-section{
  margin: 50px auto;
}
.plants-left-right-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  max-height: 500px;
}
.plants-lover-left {
  max-width: 50%;
}
.plants-left-right-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.plants-lover-right {
  max-width: 50%;
  padding: 40px 0 20px 30px;
}
.plants-lover-right h2 {
  font-size: 30px;
  font-weight: 700;
}

.plants-lover-right ul li {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  margin: 10px 0 10px 30px;
  max-width: 340px;
}
/* latest deals section */

/* join section */
.join-section {
  max-width: 1270px;
  height: 500px;
  background-image: url(./assets/news-letter-bg.png);
  margin: 50px auto;
}

.join-container {
  text-align: center;
  padding: 200px 0 200px 0;
}
.join-container h3 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
.join-container input {
  padding: 5px 200px 5px 10px;
}
.join-container button {
  color: #ffffff;
  font-weight: 600;
  padding: 6.4px 40px;
  background-color: #e95a08;
  border: none;
  margin-left: -6.5px;
}
.join-container a {
  text-decoration: none;
  color: #ffffff;
} 
/* footer section  */
.footer-section {
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
.footer-1 p {
  width: 260px;
}
.footer-2 ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.footer-2 ul li {
  list-style: none;
}
.footer-3 img{
  align-items: center;
  max-width: 30px;
}
