/* common css */
* {
  font-family: "Noto Serif", serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.banner-title-2 {
  color: #e95a08;
}
/* custom css */
/* nav section start */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar img {
  margin-top: 6px;
}
.nav-bar ul :nth-child(1),
.nav-bar ul :nth-child(4) {
  font-weight: 700;
}
.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 15px;
}
/* banner section */
.banner-section {
  display: flex;
  align-items: flex-end;
  margin: 100px auto;
}
.banner-title {
  color: #000000;
  font-size: 50px;
  font-weight: 700;
}

.banner-left-subtitle {
  color: rgba(0, 0, 0, 0.5);
}

.banner-right img {
  display: block;
}
/* plants section */
.plants-section {
  margin: 40px auto;
}
.plants-section-title {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.plants-section-sub-title {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 65%;
  margin: 0 auto;
}
.card {
  max-width: 220px;
}
.card img {
  max-width: 220px;
}
.card-bottom {
  text-align: center;
  margin: 20px auto;
}
.card h5 {
  font-size: 20px;
  font-weight: 500;
}
.card p {
  font-size: 22px;
  font-weight: 700;
}
.card button {
  width: 100%;
  font-weight: 600;
  color: #ffffff;
  background-color: #e95a08;
  border: none;
  padding: 15px 30px 15px 30px;
}
.card-container {
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
/* plants lover section */
.plant-lover-section {
  margin: 50px auto;
}
.plants-left-right-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  max-height: 500px;
}
.plants-lover-left {
  max-width: 50%;
}
.plants-left-right-container img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.plants-lover-right {
  max-width: 50%;
  padding: 40px 0 20px 30px;
}
.plants-lover-right h2 {
  font-size: 30px;
  font-weight: 700;
}

.plants-lover-right ul li {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  margin: 10px 0 10px 30px;
  max-width: 340px;
}
/* latest deals section */
.latest-deals {
  margin: 40px auto;
}
.latest-deals h3 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.latest-deals p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.latest-card-container {
  margin-top: 40px;
  display: flex;
  gap: 25.6px;
}
.card-left {
  display: grid;
  gap: 20px;
}
.card-left h2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}
.card-left a {
  color: #ffffff;
}
.left-card-1 {
  max-width: 310px;
  text-align: center;
  padding: 45px 30px 45px 30px;
  border-radius: 5px;
  background-image: url("./assets/deal-bloom.png");
  background-repeat: no-repeat;
}
.left-card-2 {
  max-width: 310px;
  text-align: center;
  padding: 45px 30px 45px 30px;
  border-radius: 5px;
  background-image: url("./assets/deal-ana.png");
  background-repeat: no-repeat;
}

.card-right {
  max-width: 600px;
  text-align: center;
  padding: 150px 163px 150px 163px;
  border-radius: 5px;
  background-image: url("./assets/deal-zabo.png");
  background-repeat: no-repeat;
}
.card-right h1 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
}
.card-right a {
  color: #ffffff;
}
/* join section */
.join-section {
  max-width: 1270px;
  height: 500px;
  background-image: url(./assets/news-letter-bg.png);
  background-repeat: no-repeat;
  margin: 50px auto;
}

.join-container {
  text-align: center;
  padding: 200px 0 200px 0;
}
.join-container h3 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
.join-container input {
  padding: 5px 200px 5px 10px;
}
.join-container button {
  color: #ffffff;
  font-weight: 600;
  padding: 6.4px 40px;
  background-color: #e95a08;
  border: none;
  margin-left: -6.5px;
}
.join-container a {
  text-decoration: none;
  color: #ffffff;
}
/* footer section  */
.footer-section {
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
.footer-1 p {
  width: 260px;
}
.footer-2 ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.footer-2 ul li {
  list-style: none;
}
.footer-3 img {
  align-items: center;
  max-width: 30px;
}
/* responsive for small device */
@media screen and (max-width: 576px) {
  .nav-bar ul :nth-child(1),
  .nav-bar ul :nth-child(2),
  .nav-bar ul :nth-child(3) {
    display: none;
  }
  /* banner section */
  .banner-section {
    flex-direction: column-reverse;
    
  }
  /* card section */
  .card-container {
    gap: 11px;
    grid-template-columns:repeat(2,1fr);
    margin: 40px 5px;
  }
  .card {
  max-width: 190px;
}
.card img {
  max-width: 190px;
}
/* plant lover section */

  .plants-left-right-container {
    flex-direction: column;
    max-height: none;
    align-items: center;
  }
  .plants-lover-left{
    max-width: 85%;
  }
  .plants-lover-right {
  max-width: 80%;
  padding: 40px 0 20px 10px;
}
.latest-card-container {
  margin-top: 40px;
  align-items: center;
  
}
/* latest card container */
  .latest-card-container {
    flex-direction: column;
  }
  .card-right {
    max-width: 310px;
  padding: 45px 30px 45px 30px; 
  
}
/* join section */
.join-section {
  max-width:430px;
  height:fit-content;
}
.join-container input {
  padding: 5px 50px 5px 10px;
}
  /* footer section */
  .footer-section {
    flex-direction: column;
  }
  .footer-2 ul {
    grid-template-columns: 1fr;
  }
}
