/* common css */
* {
  font-family: "Noto Serif", serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.banner-title-2 {
  color: #e95a08;
}
/* custom css */
/* nav section start */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar img {
  margin-top: 6px;
}
.nav-bar ul :nth-child(1),
.nav-bar ul :nth-child(4) {
  font-weight: 700;
}
.nav-bar ul {
  display: flex;
  list-style: none;
  gap: 15px;
}
/* banner section */
.banner-section {
  display: flex;
  align-items: flex-end;
  margin: 100px auto;
}
.banner-title {
  color: #000000;
  font-size: 50px;
  font-weight: 700;
}

.banner-left-subtitle {
  color: rgba(0, 0, 0, 0.5);
}

.banner-right img {
  display: block;
}
/* plants section */
.plants-section-title {
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.plants-section-sub-title {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 65%;
  margin: 0 auto;
}
.card{
  max-width: 200px;
  border: 1px solid red;
}
.card img{
  max-width: 200px;
}
.card-bottom{
  text-align: center;
  margin: 20px auto;
}
.card h5{
  font-size: 20px;
  font-weight: 500;
}
.card p{
  font-size: 22px;
  font-weight: 700;
}
.card button{
  width: 100%;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #E95A08;
  border: none;
  padding:15px 30px 15px 30px;
}
